@import './tailwind.css';
@import 'vars';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: 'Nunito', sans-serif;

  background: $main-bg;
  color: $main-text-color;

  transition:
    background 1.5s ease-in-out,
    color 1.5s ease-in-out;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

.card {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.8);
  border-radius: 20px;
}
