// NOTE: BG_COLORS
$bg: var(--tg-theme-bg-color);
$bg-sec: var(--tg-theme-secondary-bg-color);
$section-bg: var(--tg-theme-section-bg-color);

$main-bg: #aa9aff;

// NOTE: TEXT_CLOLORS
$text-color: var(--tg-theme-text-color);
$main-text-color: #fffdd0;
$err: #e74c4c;

$radius: 12px;
